body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    position: fixed;
    bottom: 20px;
    left: 1%;
    right: 1%;
    padding: 0px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    top: 90%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    
    
    